@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --bg: #faf9f6;
  --text: #2c2c2c;
  --gold-accent: #c6a769;
  --sec-accent: #e8e2d6;
  --border: #e5e5e5;
}

@theme {
  --inter-body: "Inter", sans-serif;
  --playfair-heading: "Playfair Display", serif;
}

body,
html {
  width: 100%;
  font-family: var(--inter-body, sans-serif);
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0.18px;

  color: var(--text);
  /* background-color: var(--bg); */
  background: #dddddd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .center-flex {
    @apply flex items-center justify-center;
  }

  .abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

@layer components {
}
